@import(url='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');
.logo-txt {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.modal-anchor {
  cursor: pointer
}
.form-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
}

.container.admin-panel {
  max-width: 1170px;
}

.center-mode {
  vertical-align: middle !important;
  text-align: center;
}

.form-control {
  margin-bottom: 15px;
  border-color: deepskyblue;
}

a:hover {
  text-decoration: none;
}

.btn-blue {
  background-color: deepskyblue;
  color: white;
  height: 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  border-color: deepskyblue;
}
.modal-footer {
  text-align: right;
}
.modal-footer .btn {
  margin-left: 10px;
}
.cancel-payment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0;
}
.cancel-payment:hover, .cancel-payment:focus {
  background-color: #fff;
  color: #d9534f;
  border-color: #d9534f;
  transition: background-color 0.3s ease;
}
.btn-blue:hover,
.btn-blue:focus {
  background-color: #fff;
  color: deepskyblue;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.menu-list {
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 10px;
}
.menu-list .btn {
  height: 45px;
  margin: 0;
  font-size: 16px;
}

.select-custom {
  padding: 0;
  overflow: hidden;
  position: relative;
}

.select-custom.bordered {
  border: 2px solid #ecf0ed;
  border-radius: 5px;
}

.select-custom:after {
  content: "\f078";
  font-family: 'FontAwesome';
  position: absolute;
  top: 8px;
  right: 12px;
  z-index: 1;
}

.select-custom select {
  height: 100%;
  width: 100%;
  padding: 6px 12px;
  position: relative;
  z-index: 2;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.select-custom select:focus {
  outline: none;
}

.select-custom select:-ms-expand {
  display: none;
}

.select-custom select::-ms-expand {
  display: none;
}

.expDate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit--webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-align: center;
          -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.expDate .form-control {
  display: inline-block;
  width: 70px;
  margin-bottom: 0;
}

.expDate .divider {
  margin: 0px 10px;
  font-size: 20px;
}

.expDate i {
  margin-left: 10px;
  font-size: 20px;
}

.transfer > tbody > tr > td {
  border-top: transparent;
  padding: 4px;
}
.transfer {
  max-width: 400px;
  margin: 0 auto;
}

.transfer .title {
  font-weight: bold;
}

.checkInfo {
  text-align: center;
  margin-top: 30px;
}

#paymentform .part-title {
  border-bottom: 1px solid;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-bottom: 2px;
  font-weight: bold;
  font-size: 16px;

}
#paymentform label.control-label,
#paymentform p.control-label {
  color: #337ab7;
}

#loginform {
  max-width: 400px;
  margin: 20px auto;
}
.submitCreate {
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-size: 14px;
}
.alert.alert-danger {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  z-index: 999;
}
#preloader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(60, 114, 236, 0.5);
  top: 0;
  left: 0;
  z-index: 999;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
.input-group.form-group {
  margin-bottom: 0;
}
.form-horizontal .form-group {
  margin: 0 0 15px;
}
@media (max-width: 767px) {
  #users thead {
    display: none;
  }
  #users td {
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 12px;
    border: 0;
    border-bottom: 1px solid #ddd;
  }
  #users td:before {
    content: attr(data-label);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: left;
    padding-right: 5px;
  }
  #users tr:nth-of-type(odd) {
    background: #eee;
  }
  .m-t-20 {margin-top: 0;}
}